<div class="text-center">
    <h1 class="text-info pt-4">Parabéns! Você acabou de adquirir excelentes cursos online.</h1>
    <p class="pb-3">Recebemos o seu pedido e estamos processando o pagamento!</p>
    <img src="/images/pedido.PNG" width="80%" />
</div>